.scroll-float {
  overflow: hidden;
}

.scroll-float-text {
  display: inline-block;
  /* font-size: clamp(1.6rem, 8vw, 10rem); */ /* We will let Tailwind handle font size */
  /* font-weight: 900; */
  /* text-align: center; */
  line-height: 1.5;
}

.char {
  display: inline-block;
}
